.navbar {
  height: 70px;
  background-color: white;
  position: sticky; /* Changed from sticky to fixed */
  top: 0;
  left: 0; /* Ensure it spans the full width */
  width: 100%; /* Make sure it takes the full width of the viewport */
  justify-content: center;
  font-family: "Rubik", cursive;
  z-index: 2000; /* Ensure it stays above other content */
  border-bottom: 1px solid #e1e1e1;

}

.navbar-brand {
  color: #5467ff !important;
  font-size: 34px;
  font-weight: bold;
  margin: auto;
}

.navbar-brand:hover {
  color: #3f4fe0 !important;
}

.hr-nav-logo {
  height: 30px;
  width: 30px;
  margin-left: 40px;
  margin-right: 5px;
  margin-top: 12px;
}

.logout-button {
  font-family: "Rubik", cursive;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 7px 20px;
  background-color: #5467ff;
  border: none;
  border-radius: 60px;
  margin-top: 10px;
  margin-right: 20px;
  width: 100px;
}

.logout-button:hover {
  background-color: #3f4fe0;
  color: white;
}

.nav-link {
  color: #5467ff !important; /* Same color as brand */
  margin: 0 10px; /* Spacing between links */
  font-size: 20px;
}

.nav-link:hover {
  color: #3f4fe0; /* Brand color on hover */
}

/* NavDropdown styles */
.dropdown-toggle {
  color: #5467ff !important; /* Same color as brand */
  font-size: 20px;
}

/* NavDropdown item styles */
.dropdown-item {
  color: #5467ff !important; /* Same color as brand */
}

.dropdown-item:hover {
  background-color: #5467ff; /* Brand color on hover */
  color: white !important; /* Text color to white on hover */
}

