/* Styles for the calendar container */
.calendar-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  padding: 20px;
  background-color: #5467ff;
  overflow-y: auto;
  max-height: 600px;
}
.fc-prev-button {
  background-color: white !important;
  color: #5467ff !important;
  border: none !important;
}
.fc-next-button {
  background-color: white !important;
  color: #5467ff !important;
  border: none !important;
}
.fc-today-button {
  font-family: "Rubik", cursive !important;
  font-size: 1.2rem !important;
  color: #5467ff !important;
  text-decoration: none !important;
  display: inline-block !important;
  text-align: center !important;
  background-color: white !important;
  border: none !important;
  border-radius: 40px !important;
  width: 100px !important;
}

/* Calendar Header and Navigation Buttons */
.fc-toolbar {
  color: white; /* Text color for header and buttons */
  font-family: "Rubik", cursive !important;
}

/* Calendar date numbers */
.fc-daygrid-day-number {
  color: white !important; /* Ensure date numbers are white */
  font-family: "Rubik", cursive !important;
}

/* Adjusting the event size */
.fc-daygrid-day-events {
  margin: 0; /* Remove margins around events */
}

/* Adjust event styles */
.fc-daygrid-event {
  overflow: hidden; /* Hide overflow text */
}

/* Header cell styles */
.fc .fc-col-header-cell-cushion {
  color: white !important;
  font-family: "Rubik", cursive !important;
}

.fc-event-title-container{
    border: none !important;
}
/* Event title styles */
.fc-event-title {
  font-family: "Rubik", cursive;
  font-weight: bold;
  margin-left: 65px;
}

.fc-markToday-button{
  font-family: "Rubik", cursive !important;
  font-size: 1.2rem !important;
  color: #5467ff !important;
  text-decoration: none !important;
  display: inline-block !important;
  text-align: center !important;
  background-color: white !important;
  border: none !important;
  border-radius: 40px !important;
  width: 200px !important;
}

.fc-regularize-button{
  font-family: "Rubik", cursive !important;
  font-size: 1.2rem !important;
  color: #5467ff !important;
  text-decoration: none !important;
  display: inline-block !important;
  text-align: center !important;
  background-color: white !important;
  border: none !important;
  border-radius: 40px !important;
  width: 150px !important;
}

.modal-content{
  font-family: 'Rubik',cursive;
}

.mark-button {
  font-family: "Rubik", cursive;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 8px 30px;
  background-color: #5467ff;
  border: none;
  border-radius: 60px;

  width: 150px;
}

.mark-button:hover {
  background-color: #3f4fe0;
  color: white;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Start above the visible area */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(-10px); /* End in the original position */
    opacity: 1; /* End fully visible */
  }
}

.attendance-success {
  max-width: 300px; /* Match the width of the login card */
  border-radius: 6px;
  position: relative;
  margin: 0.5rem auto; /* Center it horizontally */
  top: 20px; /* Adjust the value to move it down */
  z-index: 1000; /* Ensure it stays on top */
  animation: slideDown 0.5s ease forwards; /* Apply the animation */
  background-color: #d4edda; /* Updated background color for the success message */
  color: #155724; /* Updated text color for better contrast */
  border: 1px solid #d4edda; /* Border color for the error message */
  font-family: 'Rubik', cursive;
}

.attendance-error {
  max-width: 300px; /* Match the width of the login card */
  border-radius: 6px;
  position: relative;
  margin: 0.5rem auto; /* Center it horizontally */
  top: 20px; /* Adjust the value to move it down */
  z-index: 1000; /* Ensure it stays on top */
  animation: slideDown 0.5s ease forwards; /* Apply the animation */
  background-color: #f8d7da; /* Background color for the error message */
  color: #721c24; /* Text color for the error message */
  border: 1px solid #f5c6cb; /* Border color for the error message */
  font-family: 'Rubik', cursive;
}