.particles-section {
    position: relative;
    height: 100vh; 
  }
  
  .overlay {
    position: absolute;
    top: 40%;
    left: 28%;
    background: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px; 
    width: 90%; 
    color: #5467ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .overlay:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
  }
  
  .overlay h1 {
    font-family: 'Rubik', cursive;
    margin: 2px;
  }
  
  .overlay p {
    font-family: 'Rubik', cursive;
    margin: 12px 0 0;
    font-size: 1rem;
  }
