.body{
    font-family: 'Rubik',cursive;
}

  .hr-report-table {
    width: 400px;
    margin-left: 360px;
    margin-bottom: 50px;
    
  }
  
  .hr-report-table th,
  .hr-report-table td {
    padding: 8px;
    text-align: left;
  }
  
  .hr-report-table thead {
    position: sticky;
    top: 0;
    background-color: #5467ff; /* Or any color you prefer */
    color: white;
    z-index: 10; /* Ensures the header is above the body */
  }

  .hr-report-button {
    font-family: "Rubik", cursive;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 30px;
    background-color: #5467ff;
    border: none;
    border-radius: 60px;
  
    width: 150px;
  }
  
  .hr-report-button:hover {
    background-color: #3f4fe0;
    color: white;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%); /* Start above the visible area */
      opacity: 0; /* Start invisible */
    }
    to {
      transform: translateY(-10px); /* End in the original position */
      opacity: 1; /* End fully visible */
    }
  }
  
  .hr-report-error {
    max-width: 300px; /* Match the width of the login card */
    border-radius: 6px;
    position: relative;
    margin: 0.5rem auto; /* Center it horizontally */
    top: 20px; /* Adjust the value to move it down */
    z-index: 1000; /* Ensure it stays on top */
    animation: slideDown 0.5s ease forwards; /* Apply the animation */
    background-color: #f8d7da; /* Background color for the error message */
    color: #721c24; /* Text color for the error message */
    border: 1px solid #f5c6cb; /* Border color for the error message */
    font-family: 'Rubik', cursive;
  }