body {
    font-family: "Rubik", cursive; /* Make sure this font is loaded in your project */
  }

.manage-salary-container .search-bar{
  width: 1000px;
}


  .manage-salary-container {
    max-height: 600px; /* Adjust this height as needed */
    overflow-y: auto;
    margin-bottom: 30px;

  }
  .manage-salary-container::-webkit-scrollbar {
    width: 0; /* Hide scrollbar for WebKit browsers */
  }
  .manage-salary-table {
    width: 100%;
  }
  
  .manage-salary-table th,
  .manage-salary-table td {
    padding: 8px;
    text-align: left;
  }
  
  .manage-salary-table thead {
    position: sticky;
    top: 0;
    background-color: #5467ff; /* Or any color you prefer */
    color: white;
    z-index: 10; /* Ensures the header is above the body */
  }
  
  .salary-update-button {
    font-family: "Rubik", cursive;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 30px;
    background-color: #5467ff;
    border: none;
    border-radius: 60px;
  
    width: 150px;
  }
  
  .salary-update-button:hover {
    background-color: #3f4fe0;
    color: white;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%); /* Start above the visible area */
      opacity: 0; /* Start invisible */
    }
    to {
      transform: translateY(-10px); /* End in the original position */
      opacity: 1; /* End fully visible */
    }
  }
  
  .manage-salary-error {
    max-width: 300px; /* Match the width of the login card */
    border-radius: 6px;
    position: relative;
    margin: 0.5rem auto; /* Center it horizontally */
    top: 20px; /* Adjust the value to move it down */
    z-index: 1000; /* Ensure it stays on top */
    animation: slideDown 0.5s ease forwards; /* Apply the animation */
    background-color: #f8d7da; /* Background color for the error message */
    color: #721c24; /* Text color for the error message */
    border: 1px solid #f5c6cb; /* Border color for the error message */
    font-family: 'Rubik', cursive;
  }
  
  .manage-salary-success {
    max-width: 300px; /* Match the width of the login card */
    border-radius: 6px;
    position: relative;
    margin: 0.5rem auto; /* Center it horizontally */
    top: 20px; /* Adjust the value to move it down */
    z-index: 1000; /* Ensure it stays on top */
    animation: slideDown 0.5s ease forwards; /* Apply the animation */
    background-color: #d4edda; /* Updated background color for the success message */
    color: #155724; /* Updated text color for better contrast */
    border: 1px solid #d4edda; /* Border color for the error message */
    font-family: 'Rubik', cursive;
  }