.modified-footer {
    background-color: #5467ff;
    color: white;
    font-family: "Rubrik", cursive;
    position: absolute; /* Changed from absolute to relative */
    z-index: 10;
    width: 100%;
    margin-top: auto;
  }
  
  .modified-footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: white; /* Heading color */
  }
  
  .modified-footer p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: white; /* Paragraph color */
  }
  
  .modified-footer a {
    color: white; /* Link color */
    text-decoration: none;
  }
  
  .modified-footer a:hover {
    text-decoration: underline;
    color: white;
  }
  
  .modified-footer .container {
    max-width: 1200px;
    
  }
  
  
  
 
  